[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
panda = "*"
regex = "*"
typer = "*"
music21 = "*"
elasticsearch = "*"
pip = "*"
python-dotenv = "*"
typer-config = {extras = ["all"], version = "*"}
colorama = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
